<html>

<style>

table, th, td {
  border: 1px solid black;
}
</style>

<h1>Form with checkboxes</h1>

<form class= 'form1' action="/action_page.php" method="get">
    <select id="dropDown" name="dropDown">
        <option  type="checkbox" value="Option1">Option1</option>
        <option  type="checkbox" value="Option2">Option2</option>
        <option  type="checkbox" value="Option3">Option3</option>
        <option  type="checkbox" value="Option4">Option4</option>
      </select>
  <!-- <input class= 'ckBOp' type="checkbox" name="Option1" value="Option1">
  <label for="Option1"> Option 1</label><br>
  <input class= 'ckBOp' type="checkbox" name="Option2" value="Option2">
  <label for="Option2"> Option 2</label><br>
  <input class= 'ckBOp' type="checkbox" name="Option3" value="Option3" >
  <label for="Option3"> Option 3</label><br><br> -->
  <input type="submit" value="Submit">
</form>


<h1>Form with Radio buttons</h1>

<form class= 'form2' action="/action_page.php" method="get">
    <input type="radio" name="vehicle1" value="Bike">
    <label for="Option1"> Option 1</label><br>
    <input type="radio" name="vehicle2" value="Car">
    <label for="Option2"> Option 2</label><br>
    <input type="radio" name="vehicle3" value="Boat" >
    <label for="Option3"> Option 3</label><br><br>
    <input type="submit" value="Submit">
  </form>

<h1>Form with Dropdown option</h1>

<p>Select one of the options</p>

<form action="/action_page.php">
  <label for="cars">Select one</label>
  <select id="dropDown" name="dropDown">
    <option value="Option1">Option1</option>
    <option value="Option2">Option2</option>
    <option value="Option3">Option3</option>
    <option value="Option4">Option4</option>
  </select>
  <input type="submit">
</form>


<h1>Extract Data from table</h1>
<div class="table1">
<table>
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$110</td>
    </tr>
    <tr>
        <td>March</td>
        <td>$120</td>
    </tr>
    <tr>
        <td>April</td>
        <td>$130</td>
      </tr>
      <tr>
        <td>May</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>June</td>
        <td>$130</td>
      </tr>
      <tr>
        <td>July</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>August</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>September</td>
        <td>$160</td>
      </tr>
      <tr>
        <td>October</td>
        <td>$130</td>
      </tr>
      <tr>
        <td>November</td>
        <td>$230</td>
      </tr>
  </table>



<h1>  Hello World!</h1>



<h1>  Hello World!</h1>


<h1>  Hello World!</h1>


<h1>  Hello World!</h1>


<h1>  Hello World!</h1>


<h1>  Hello World!</h1>


<h1>  Hello World!</h1>


<h1>  Hello World!</h1>


<h1>  Hello World!</h1>



<h1>  Hello World!</h1>
</div>
</html>